* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  font-size: 13px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

.txt__decor {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #24ba9e;
}

p.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  display: inline-block;
  line-height: 40px;
  margin-top: 1px;
  font-size: 15px;
  margin-left: 8px;
}

ul.header__nav {
  position: relative;

  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 40px;
  margin-top: 2px;
  text-decoration: none;
  padding-right: 17px;
  font-size: 15px;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li.header__nav-item {
  display: inline-block;
  margin-left: 36px;
  position: relative;
}

li.header__nav-item__2 {
  display: inline-block;
  margin-left: 36px;
  position: relative;
}

li.header__nav-item__3 {
  display: inline-block;
  margin-left: 36px;
  position: relative;
}

ul.header__submenu {
  position: absolute;
  top: 43px;
  left: -16px;
  background: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  list-style: none;
  z-index: 2;
  display: none;
}

ul.header__submenu__2 {
  position: absolute;
  top: 43px;
  left: -16px;
  background: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  list-style: none;
  z-index: 2;
  display: none;
}

ul.header__submenu__3 {
  position: absolute;
  top: 43px;
  left: -16px;
  background: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  list-style: none;
  z-index: 2;
  display: none;
}
div.submenu__arrow {
  background-color: #000000;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  position: absolute;
  top: 39px;
  left: 29px;
  z-index: 1;
  display: none;
}

div.submenu__arrow__2 {
  background-color: #000000;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  position: absolute;
  top: 39px;
  left: 29px;
  z-index: 1;
  display: none;
}
div.submenu__arrow__3 {
  background-color: #000000;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  position: absolute;
  top: 39px;
  left: 29px;
  z-index: 1;
  display: none;
}
li.header__submenu-item {
  line-height: 29px;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 1;
}

li.header__nav-item a:hover ul.header__submenu {
  background-color: red;
}

/*sekcja INTRO*/

section {
  width: 1050px;
}

section.intro {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(209, 206, 215, 1) 100%
  );
  height: 500px;
  display: flex;
  position: relative;
  justify-content: space-between;
  line-height: 500px;
}

.intro__arrow:first-child {
  content: "";
  color: #24ba9e;
  font-size: 74px;
  position: relative;
  right: 16px;
}
#red {
  position: absolute;
  left: 109px;
}

.intro__img {
  width: 952px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: -12px;
  top: 109px;
  overflow: hidden;
}
.intro__img img {
  transform: scale(1.2);
}
.intro__img li {
  transition: opacity 2s ease;
}
.intro__text {
  position: relative;
  top: 143px;
  right: 125px;
  width: 657px;
  height: 220px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  position: relative;
}

.intro__text p {
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  text-align: center;
  color: #000000;
  position: relative;
  top: 17px;
}

.intro__text div {
  font-size: 24px;
  line-height: 53px;
  width: 261px;
  height: 55px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #24ba9e;
  border-radius: 10px;
  position: relative;
  bottom: -59px;
  right: -73px;
}
.intro__arrow {
  user-select: none;
}
.intro__arrow:last-child {
  content: "";
  color: #24ba9e;
  font-size: 74px;
  position: relative;
  right: 11px;
}

section.featured {
  display: flex;
  justify-content: space-between;
  height: 302px;
  margin-bottom: 100px;
  margin-top: -55px;
  background-color: #ffffff;
}

section.featured > div {
  width: 288px;
  height: 196px;
  float: left;
  border: 1px solid #c2c2c2;
  margin-top: 86px;
  margin-right: 24px;

  background-size: cover;
  background-position: center;
  position: relative;
}

section.featured > div:first-child {
  background-image: url(images/box1_img.jpg);
  width: 400px;
  height: 225px;
}

section.featured > div:nth-child(2) {
  background-image: url("images/box2_img.jpg");
  width: 400px;
  height: 225px;
}

section.featured > div:last-child {
  width: 393px;
  height: 252px;
  background-color: #ffffff;
  padding: 12px;
  font-size: 14px;
}

div.featured__title {
  width: 100%;
  height: 52px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 13px;
}

#featured__description {
  top: 10px;
}

.featured__title > h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  color: #000000;
  border-bottom: 5px solid #24ba9e;
  width: 136px;
  margin: 14px;
  margin-bottom: 0px;
}

#featured__description p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding: 16px;
}

section.pricelist {
  display: flex;
  justify-content: space-around;
  height: 730px;
  background-color: #f1f1f1;
  position: relative;
}

h2 {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  border-bottom: 7px solid #24ba9e;
  width: 278px;
  padding-bottom: 7px;
  position: absolute;
  left: 60px;
  top: 38px;
}

div.pricelist__box {
  width: 329px;
  height: 500px;
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid #c2c2c2;
  top: 166px;
  left: -7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-align: center;
}

div.pricelist__outerCircle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #c2c2c2;
  background-color: #ffffff;
  position: relative;
  top: -39px;
  margin-left: 134px;
}

div.pricelist__innerCircle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #c2c2c2;
  position: absolute;
  margin: 14px;
}

div.pricelist__outerCircleMiddle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #24ba9e;
  position: relative;
  top: -38px;
  margin-left: 136px;
}
div.pricelist__innerCircleMiddle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  margin: 14px;
}
div.pricelist__box-title {
  width: 100%;
  height: 50px;
  position: absolute;
  color: #24ba9e;
  font-size: 20px;
  top: 24px;
}

div.pricelist__box-price {
  width: 130px;
  height: 130px;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 23px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid grey;
  color: #c4c4c4;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
div.pricelist__box-price-middle {
  width: 130px;
  height: 130px;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 23px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #24ba9e;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
div.pricelist__box-price-middle span:first-child {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
div.pricelist__box-price-middle span:last-child {
  font-size: 14px;
  line-height: 40px;
  vertical-align: text-bottom;
}
.pricelist__box-price-middle p:last-child {
  font-size: 10px;
  line-height: 10px;
}

div.pricelist__box-priceI {
  position: relative;
  top: 30px;
}

div.pricelist__box-price span:first-child {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

div.pricelist__box-price span:last-child {
  font-size: 14px;
  line-height: 40px;
  vertical-align: text-bottom;
}

.pricelist__box-price p:last-child {
  font-size: 17px;
  line-height: 22px;
}

ul.pricelist__box-options {
  list-style: none;
  margin: 0 auto;
  margin-top: 31px;
  width: 100%;
  font-size: 24px;
  position: relative;
  color: #9f9f9f;
}

.pricelist__box-options li:nth-child(2n + 1) {
  background-color: #e4e4e4;
  padding: 10px;
}

.pricelist__box-options li:nth-child(2n) {
  background-color: #f1f1f1;
  padding: 7px;
}

div.pricelist__box-apply {
  background-color: #24ba9e;
  border-radius: 5px;
  color: #ffffff;
  line-height: 30px;
  width: 120px;
  height: 33px;
  position: absolute;
  bottom: 21px;
  display: block;
  margin-left: 105px;
}
div.pricelist__box-apply-middle {
  background-color: #ffffff;
  border-radius: 5px;
  color: #24ba9e;
  line-height: 30px;
  width: 120px;
  height: 33px;
  position: absolute;
  bottom: 18px;
  display: block;
  margin-left: 106px;
}
.pricelist h2 {
  font-size: 21px;
  line-height: 23px;

  border-bottom: 7px solid #24ba9e;
  width: 316px;
  padding-bottom: 7px;
  position: absolute;
  left: 69px;
  top: 52px;
}

div#middle {
  background-color: #24ba9e;
  border: 1px solid #24ba9e;
  width: 329px;
  height: 500px;
  position: relative;

  top: 166px;
  left: -7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-align: center;
}

div#middle div.pricelist__box-title {
  color: #ffffff;
}

div#middle div.pricelist__box-price {
  background-color: #ffffff;
  color: #24ba9e;
  border: 1px solid #24ba9e;
}

div#middle div.pricelist__decorOut {
  border: 1px solid #24ba9e;
  background-color: #24ba9e;
}

div#middle div.pricelist__decorIn {
  background-color: #ffffff;
}

div#middle .pricelist__box-options li:nth-child(2n + 1) {
  background-color: #ffffff;
}

div#middle div.pricelist__box-apply {
  background-color: #ffffff;
  color: #24ba9e;
}

section.contact {
  height: 480px;
  background-color: #ffffff;
  position: relative;
  margin-bottom: 100px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 31px;
  left: 71px;
}

div.contact__form {
  position: relative;
  width: 63%;
  height: 100%;
  bottom: 11px;
}

input {
  border: 0.5px solid #24ba9e;
  padding: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 33px;
  width: 96%;
  margin: 12px;
  margin-left: 3px;
  position: relative;
  top: 84px;
  width: 85%;
}

textarea {
  resize: none;
  border: 0.5px solid #24ba9e;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
  position: relative;
  top: 88px;
  margin: 12px;
  margin-left: 3px;
  width: 85%;
  height: 185px;
  padding: 13px;
}

div.contact__send {
  position: relative;
  width: 38%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.contact__send-img {
  width: 263px;
  height: 399px;
  margin-top: 73px;
  margin-left: 43px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: -15px;
  left: -79px;
  background-image: url("images/red_chair.png");
}

div.contact__send-checkbox {
  width: 310px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  top: -171px;
  left: -53px;
}

div.checkbox-icon {
  width: 56px;
  background-size: 40px;
  background-color: #ffffff;
  position: relative;
  background-image: none;
  background-repeat: no-repeat;
  border: 0.5px solid #24ba9e;
  background-position: center;
}

div.checkbox-text {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 5px;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
input::placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

div.contact__send-submit {
  width: 343px;
  height: 71px;
  position: absolute;
  left: -55px;
  bottom: 66px;
  background-color: #24ba9e;
  color: #ffffff;
  font-size: 34px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 67px;
  text-align: center;
  border-radius: 8px;
}
section.contact h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  border-bottom: 7px solid #24ba9e;
  width: 278px;
  padding-bottom: 7px;
  position: absolute;
  left: 74px;
  top: 37px;
  width: 319px;
}
section.footer {
  height: 70px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  font-size: 14px;
  line-height: 70px;
  color: #c2c2c2;
}
div.footer__left {
  position: absolute;
  bottom: 20px;
  left: 67px;
  font-size: 16px;
  font-weight: 700;
}
div.footer__right {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 20px;
  right: 67px;
}

div.footer__media {
  display: flex;
  justify-content: flex-start;
  height: 35px;
  margin-right: 77px;
}

.footer__media div {
  width: 35px;
  height: 31px;
  margin-top: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

div.footer__media a:nth-child(1) > div {
  background-image: url("images/flickr.png");
}

div.footer__media a:nth-child(2) > div {
  background-image: url("images/vimeo.png");
}

div.footer__media a:nth-child(3) > div {
  background-image: url("images/pinterest.png");
}

div.footer__media a:nth-child(4) > div {
  background-image: url("images/twitter.png");
}

div.footer__logo {
  font-size: 16px;
}

.footer__logo span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
